html,
body {
    height: 100%;
}

/* 全国地图 */
#china {
    height: 1500px;
    /*background-color: rgb(202, 231, 255);*/
    position: relative;
    padding: 0px; 
    margin: 0px; 
    border-width: 0px;
    cursor: default;
}

#china_province,
#china_province_city {
    height: 800px;
    /*background-color: rgb(202, 231, 255);*/
    position: relative;
    padding: 0px; 
    margin: 0px; 
    border-width: 0px;
    cursor: default;
}

#add_record {
    margin-top: 80px;
}

/* 导航栏背景色 */
.navbar-custom {
    background-color: rgb(221, 92, 80);
}

/* 导航栏文字 */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: rgba(255,255,255,.8);
}

.footer-text {
    color: rgba(211, 92, 80);
}